/%h3 Edit Your Wiki
.col-md-4
  .panel.panel-primary
    .panel.panel-heading
      %h3.panel-title Update It Here
    .panel-body
      %p It's simple! Just complete this form.
      =form_for @wiki do |f|
        .form-group
          .input-group
            .input-group-addon
              %span.glyphicon.glyphicon-arrow-right
            = f.text_field :title, :class => 'form-control', :placeholder => "Title"
            = f.text_field :body, :class => 'form-control', :placeholder => "Body"

        - if current_user.premium
          %h2 Add a Collaborator
          %ul
            - @users.each do |user|
              %li
                = check_box_tag "wiki[collaborator_ids][]", user.id, @wiki.collaborators.include?(user)
                = user.name
        - if current_user.premium
          %p
            %label.checkbox{ :for => "private" }
            = f.label :private?
            = f.check_box :private, :class => "checkbox"
        = f.submit 'Update', class:'btn btn-primary'

      /    = flash[:notice] = "Your update was saved."

