%h3 New Wiki
/ this form is not done yet
.col-md-4
  .panel.panel-primary
    .panel.panel-heading
      %h3.panel-title Create A Wiki
    .panel-body
      %p It's simple! Just complete this form. Clicking the checkbox makes it private.
      = form_tag wikis_create_path, action: "create", remote: "true" do
        .form-group
          .input-group
            .input-group-addon
              %span.glyphicon.glyphicon-arrow-right
            = text_field_tag :Title, nil, :class => 'form-control', :placeholder => "Title"
            = text_field_tag :Body, nil, :class => 'form-control', :placeholder => "Body"
      %p
      %label.checkbox{ :for => "make_private" }
      = check_box :make_private, :class => "checkbox"
      /= simple_form_line do <
      /%label.checkbox{ :for => "make_private" }
      /  = f.check_box :send_email, class: "checkbox"
      /  = t(".make_private")
      = submit_tag('Generate Wiki', class:'btn btn-primary')


